@page "/"
@rendermode InteractiveServer

<select @onchange="ChangeLayout">
    <option value="FullWidthLayout">Full Width Layout</option>
    <option value="LeftSidebarLayout">Left Sidebar Layout</option>
    <option value="RightSidebarLayout">Right Sidebar Layout</option>
</select>

<LayoutWrapper LayoutName=@LayoutName/>
   


@code {
    public string LayoutName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Default layout
        LayoutName = "FullWidthLayout";
    }

    private void ChangeLayout(ChangeEventArgs e)
    {
        LayoutName = e.Value.ToString();
    }
}

